In [1]:
import pandas as pd

# Read the input file
input_data = pd.read_excel("input.xlsx", usecols="A:D", nrows=189)
input_data.head()

                                           NAME         DATA   AMOUNT QTITY
0  KP International Market : 436  TUL SUN. KANG          NaN      NaN   NaN
1  KP International Market : 436  TUL SUN. KANG          NaN      NaN   NaN
2  KP International Market : 436  TUL SUN. KANG         Cash   648.22   NaN
3  KP International Market : 436  TUL SUN. KANG  Credit Card  3191.59    49
4  KP International Market : 436  TUL SUN. KANG   Debit Card  2565.69    31

In [2]:
# Define the columns based on the user's request
columns = [
    "Cash", "Credit Card", "Debit Card", "EBT SNAP", "Tenders In Drawer Totals", 
    "All Voids", "Item Corrects", "No Sales", "Negative Totals", 
    "125 - CHUPA SODA_6PK", "Discount Totals", "LOTTERY WINNER", "LOYALTY", 
    "Paid Out Totals", "Returns", "SCRATCHER WINNER"
]

# Initialize the output DataFrame
output_data = pd.DataFrame()

# For each unique name in the input data
for name in input_data['NAME'].unique():
    # Filter rows for the current name
    name_data = input_data[input_data['NAME'] == name]
    
    # Dictionary to hold the data for the current name
    data_dict = {"Name": name}
    
    # For each column, get the corresponding value from the input data
    for col in columns:
        data_dict[col] = name_data[name_data['DATA'] == col]['AMOUNT'].values[0] if col in name_data['DATA'].values else None
    
    # Append the data to the output DataFrame
    output_data = output_data.append(data_dict, ignore_index=True)

output_data.head()

C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)
C:\Users\UserK\AppData\Local\Temp\ipykernel_15564\1386520783.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output_data = output_data.append(data_dict, ignore_index=True)

,Name,Cash,Credit Card,Debit Card,EBT SNAP,Tenders In Drawer Totals,All Voids,Item Corrects,No Sales,Negative Totals,125 - CHUPA SODA_6PK,Discount Totals,LOTTERY WINNER,LOYALTY,Paid Out Totals,Returns,SCRATCHER WINNER
0,KP International Market : 436 TUL SUN. KANG,648.22,3191.59,2565.69,456.15,6861.65,13.08,83.13,0,96.21,None,5.95,None,NaN,None,NaN,None
1,KP International Market : 438 WON HAP PARK,1140.1,5258.35,1671.28,1197.93,10026.64,None,144.85,0,144.85,None,None,None,NaN,None,NaN,None
2,KP International Market : 673 MIA REGINA INGA...,None,197.27,111.45,None,308.72,None,None,None,None,None,None,None,NaN,None,NaN,None
3,"KP International Market : 1,237 BYUNG_KUK KIM",284.31,480.26,312.11,203.63,1280.71,None,5.94,None,5.94,None,None,None,NaN,None,NaN,None
4,"KP International Market : 1,325 SANDRA_KATHRY...",59.23,203.51,66.33,None,331.53,None,None,None,None,None,None,None,2.46,None,NaN,None

In [3]:
output_data.fillna(0, inplace=True)  # fill NaN values with 0
output_data.head()

# Save the refactored output data to an Excel file
output_filepath = "output.xlsx"
output_data.to_excel(output_filepath, index=False)